section{
    text-align: center;
}

.options {
    text-align: start;
    margin: 20px auto;
    width: 65%;
}

.options button{
    border: 2px solid lightblue;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2em;
}

.options button:hover{
    background-color: blue;
}

.options .optionSelected {
    background-color: lightgray;
}

.options .optionSelected:hover {
    background-color: lightgray;
    cursor:unset;
    border: 2px solid lightblue;
}

@media (max-width: 700px) {
    .options {
        width: 95%;
    }
}