.no-scroll{
    overflow: hidden;
}

p{
    font-size: 20px;
}

img.logo{
    width: 100px;
}

.centered{
    text-align: center;
}

nav{
    margin:0;
    padding: 10px 25px;
    height: 50px;
    background-color: rgba(0.2, 0.2, 0.2, 1);
    color:white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

nav a{
    color: white;
    text-decoration: none;
}

#campanella{
   height: 30px;
   width: 30px;
} 

#notificheOpen{
    position: relative;
    margin:0 20px;
}

#notificheOpen span:hover{
    cursor:pointer;
}

#numNotifiche{
    position: absolute;
    left: 0;
    top:0;

    background-color: red;
    color: black;
    width: 14px;
    height: 14px;

    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin:auto;
    padding: 0;

    border-radius: 7px;
}

#notificheContainer{
    position:absolute;
    left:-150px;
    top:50px;
    width: 250px;
    height: 400px;

    z-index: 1;

    background-color: white;
    color: black;

    border: 3px solid black;
    border-radius: 10px;

    overflow-y: scroll;
}

.notificaFrame{
    padding: 10px;
    margin:10px;
    border: 2px solid black;
}

.notificaLetta
{
    background-color: lightgray;
}

.notificaMessaggio{
    margin:10px;
    color: black;
    font-size: 13px;
}

body{
    font-family: 'Playfair Display', serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    min-height: 100vh;
}

main{
    width: 100%;
}

.navbuttons {
    margin: 10px;
    margin-left: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#navbuttons{
    display: flex;
    flex-direction: row;
}

#burger {
    display: none;
}
  
#burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

#container{
    width: 65%;

    margin:auto;
}

textarea {
    resize: none;
}

@media (max-width: 700px) {
    #container {
        width: 95%;
    }
}

.modal{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content{
    position: relative;
    padding: 20px;

    background-color: white;

    border: 3px solid skyblue;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.closeModale{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 16px;
    border: 2px solid brown;

    position: absolute;
    top: -15px;
    left: -15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.closeModale span{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.hidden
{
    display: none;
}

footer{
    background-color: rgba(0, 0, 0, 1);
    height: 100px;
    width: 100%;

    font-size: 1.2em;
    color: white;
}

footer div {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

footer div p{
    margin:0;
}